<h2>Department List</h2>

<div *ngIf="departments" class="list">
    <div *ngFor="let department of departments" class="item row">
        <div class="col-xs-8">
            <a [routerLink]="['/departments', department.id]">
                {{ department.name }}
            </a>
        </div>
        <div class="col-xs-4 text-right">
            <a href="#" class="btn btn-xs btn-default">Edit</a>
            <a (click)="deleteDepartment(department)" class="btn btn-xs btn-danger">Delete</a>
        </div>
    </div>
</div>

<div class="actions">
    <a [routerLink]="['/departments', 'new']" class="btn btn-default">
        Create New Department
    </a>
</div>