<div *ngIf="department">
    <h2>{{ department.name }}</h2>

    <div class="description">
        {{ department.description }}
    </div>

    <div *ngIf="head">
        <h3>Head of Department:</h3>
        <div>
            <a [routerLink]="['/employees', head.id]">
                {{ head.firstName }} {{ head.lastName }}
            </a>
        </div>
    </div>

    <!-- Vacancies -->

    <div class="actions">
        <a [routerLink]="['/departments', department.id, 'employees']" class="btn btn-default">
            Employees
        </a>
        <a [routerLink]="['/departments', department.id, 'vacancies']" class="btn btn-default">
            Vacancies
        </a>
        <a [routerLink]="['/departments', department.id, 'edit']" class="btn btn-default">
            Edit
        </a>
    </div>
</div>