<h2>Department Vacancies</h2>

<div *ngIf="vacancies" class="list">
    <div *ngFor="let vacancy of vacancies" class="item row">
        <div class="col-xs-8">
            <!--<a [routerLink]="['/vacancies', vacancy.id]">-->
                {{ vacancy.position.name }}
            <!--</a>-->
        </div>
        <div class="col-xs-4 text-right">
            <a [routerLink]="['/vacancies', vacancy.id, 'edit']" class="btn btn-xs btn-default">Edit</a>
            <a (click)="deleteVacancy(vacancy)" class="btn btn-xs btn-danger">Delete</a>
        </div>
    </div>
</div>

<div class="actions">
    <a [routerLink]="['/departments', params.departmentId, 'vacancies', 'new']" class="btn btn-default">
        Create New Vacancy
    </a>
</div>
