<div *ngIf="vacancy">
    <h2>Vacancy Info</h2>

    <div class="row">
        <!-- Department -->
        <div class="col-xs-4">
            Position:
        </div>
        <div class="col-xs-8">
            {{ vacancy.position.name }}
        </div>

        <!-- Department -->
        <div class="col-xs-4">
            Department:
        </div>
        <div class="col-xs-8">
            <a [routerLink]="['/departments', vacancy.department.id]">
                {{ vacancy.department.name }}
            </a>
        </div>

        <!-- Opening Date -->
        <div class="col-xs-4">
            Opening Date:
        </div>
        <div class="col-xs-8">
            {{ vacancy.openingDate|date:'dd.MM.y' }}
        </div>

        <!-- Closing Date -->
        <div class="col-xs-4">
            Closing Date:
        </div>
        <div class="col-xs-8">
            {{ (vacancy.closingDate|date:'dd.MM.y') || '-' }}
        </div>
    </div>

    <div class="actions">
        <a [routerLink]="['/vacancies', vacancy.id, 'edit']" class="btn btn-default">
            Edit
        </a>
        <a href="#" class="btn btn-default">
            Close
        </a>
        <a (click)="deleteVacancy()" class="btn btn-danger">
            Delete
        </a>
    </div>

</div>
