<div *ngIf="employee">
    <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>

    <div class="row">
        <!-- Email -->
        <div class="col-xs-4">
            E-mail:
        </div>
        <div class="col-xs-8">
            {{employee.email}}
        </div>

        <!-- Phone -->
        <div class="col-xs-4">
            Phone:
        </div>
        <div class="col-xs-8">
            {{employee.phone}}
        </div>

        <!-- Birth Date -->
        <div class="col-xs-4">
            Birth Date:
        </div>
        <div class="col-xs-8">
            {{employee.birthDate}}
        </div>
    </div>
</div>