<div *ngIf="employee">
    <div class="text-right">
        <div class="btn-group">
            <a [routerLink]="['/employees', employee.id]" class="btn btn-default">
                Edit
            </a>
        </div>
    </div>

    <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>

    <div class="row">
        <!-- Email -->
        <div class="col-xs-4">
            E-mail:
        </div>
        <div class="col-xs-8">
            {{employee.email}}
        </div>

        <!-- Phone -->
        <div class="col-xs-4">
            Phone:
        </div>
        <div class="col-xs-8">
            {{employee.phone}}
        </div>

        <!-- Birth Date -->
        <div class="col-xs-4">
            Birth Date:
        </div>
        <div class="col-xs-8">
            {{employee.birthDate}}
        </div>

        <!-- Current Employment -->
        <div *ngIf="currentEmployment">
            <div class="col-xs-4">
                Position:
            </div>
            <div class="col-xs-8">
                {{ currentEmployment.position.name }}
                in
                <a [routerLink]="['/departments', currentEmployment.department.id]">
                    {{ currentEmployment.department.name }}
                </a>
            </div>
        </div>
    </div>

    <!-- Employment History -->
    <employment-history [employee]="employee"></employment-history>
</div>