body,
a {
  color: rgb(29, 35, 38);
}

a,
a:hover {
  text-decoration: none;
}

.list .item {
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .3em;
  box-shadow: 0 0 0 1px rgba(29, 35, 38, 0.3)
}